body {
	max-height:380px;
	min-height:80px;
	min-width:355px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
}

.extcontainer {
	width: 355px;
	padding-top: 40px;
}

.displayname {
	width: 100%;
	height: 15px;
}

ul.nav a {
    outline: none;
}

.menu {
	/*float:left;*/
	padding:36px 5px 5px;
}

.list {
	/*float:left;*/
	padding: 0px;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
	height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.list-caption{
  padding: 5px;
}

/*
.list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}
*/

.scrollbar::-webkit-scrollbar
{
	-webkit-appearance: none;
	width: 7px;
	background: #F0F0F0;
}

.scrollbar::-webkit-scrollbar-thumb
{
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

.input-prepend {
	width: 90%;
}

.media {
	border-bottom:1px solid #F4F4F4;
	cursor:pointer;
	margin-top: 5px;
  padding: 5px;
}

.media-object {
	border:1px solid #c4c4c4;
}

.avatar{
	width: 50px;
}

.bold {
	font-weight:700;
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size:12px;
}

.administrable {
	color:#035B99;
}

.administrable2 {
	color:#CC6906;
}

h4 {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	padding:5px;
}

.container
 {
  width: 940px;
}

.enter-url{
	margin-top: 10px;
}

.nav-right {
	text-align: right;
}

ul.changelog-list{
	margin-left: 20px;
}

.changelog-area {
	height: 350px;
	overflow-y: auto;

}

.loading {
	position: absolute;
}

.space_type{
  border: 1px solid #d7d7d7 !important;
  color: #808080;
  height: 14px;
  line-height: 16px;
  padding: 0 5px 0 15px;
  font-size: 11px;
}

.currentnav {
	border-bottom: 1px #0d6fac solid;
}



/*================================ Loading Animation ======================*/

#followingBallsG{
position:relative;
width:355px;
height:5px;
}

.followingBallsG{
background-color:#0066AA;
position:absolute;
top:0;
left:0;
width:5px;
height:5px;
-moz-border-radius:15px;
-moz-animation-name:bounce_followingBallsG;
-moz-animation-duration:2.6s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-border-radius:15px;
-webkit-animation-name:bounce_followingBallsG;
-webkit-animation-duration:2.6s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-border-radius:15px;
-ms-animation-name:bounce_followingBallsG;
-ms-animation-duration:2.6s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-border-radius:15px;
-o-animation-name:bounce_followingBallsG;
-o-animation-duration:2.6s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
border-radius:15px;
animation-name:bounce_followingBallsG;
animation-duration:2.6s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#followingBallsG_1{
-moz-animation-delay:0s;
}

#followingBallsG_1{
-webkit-animation-delay:0s;
}

#followingBallsG_1{
-ms-animation-delay:0s;
}

#followingBallsG_1{
-o-animation-delay:0s;
}

#followingBallsG_1{
animation-delay:0s;
}

#followingBallsG_2{
-moz-animation-delay:0.26s;
-webkit-animation-delay:0.26s;
-ms-animation-delay:0.26s;
-o-animation-delay:0.26s;
animation-delay:0.26s;
}

#followingBallsG_3{
-moz-animation-delay:0.52s;
-webkit-animation-delay:0.52s;
-ms-animation-delay:0.52s;
-o-animation-delay:0.52s;
animation-delay:0.52s;
}

#followingBallsG_4{
-moz-animation-delay:0.78s;
-webkit-animation-delay:0.78s;
-ms-animation-delay:0.78s;
-o-animation-delay:0.78s;
animation-delay:0.78s;
}

@-moz-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#0066AA;
}

50%{
left:351px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#0066AA;
}

}

@-webkit-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#0066AA;
}

50%{
left:351px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#0066AA;
}

}

@-ms-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#0066AA;
}

50%{
left:351px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#0066AA;
}

}

@-o-keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#0066AA;
}

50%{
left:351px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#0066AA;
}

}

@keyframes bounce_followingBallsG{
0%{
left:0px;
background-color:#0066AA;
}

50%{
left:351px;
background-color:#FFFFFF;
}

100%{
left:0px;
background-color:#0066AA;
}

}
